<div>
  <h2 id="page-heading" data-cy="UserOrganizationHeading">
    <span jhiTranslate="iifDirectPayApp.userOrganization.home.title">User Organizations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="iifDirectPayApp.userOrganization.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-organization"
        [routerLink]="['/user-organization/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="iifDirectPayApp.userOrganization.home.createLabel"> Create a new User Organization </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userOrganizations?.length === 0">
    <span jhiTranslate="iifDirectPayApp.userOrganization.home.notFound">No userOrganizations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userOrganizations && userOrganizations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.joiningDate">Joining Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.exitDate">Exit Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.status">Status</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.suspendedDate">Suspended Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.deletedDate">Deleted Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.createdDate">Created Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.updatedDate">Updated Date</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.organiationId">Organiation Id</span></th>
          <th scope="col"><span jhiTranslate="iifDirectPayApp.userOrganization.userId">User Id</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userOrganization of userOrganizations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-organization', userOrganization.id, 'view']">{{ userOrganization.id }}</a>
          </td>
          <td>{{ userOrganization.joiningDate | formatMediumDate }}</td>
          <td>{{ userOrganization.exitDate | formatMediumDate }}</td>
          <td jhiTranslate="{{ 'iifDirectPayApp.UserOrganizationStatus.' + userOrganization.status }}">{{ userOrganization.status }}</td>
          <td>{{ userOrganization.suspendedDate | formatMediumDatetime }}</td>
          <td>{{ userOrganization.deletedDate | formatMediumDatetime }}</td>
          <td>{{ userOrganization.createdDate | formatMediumDatetime }}</td>
          <td>{{ userOrganization.updatedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="userOrganization.organiationId">
              <a [routerLink]="['/organization', userOrganization.organiationId?.id, 'view']">{{ userOrganization.organiationId?.id }}</a>
            </div>
          </td>
          <td>
            {{ userOrganization.userId?.id }}
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-organization', userOrganization.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-organization', userOrganization.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userOrganization)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
